<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.product_type | uppercase  }} {{ product.product_type_category | uppercase  }} {{ product.product_brand | uppercase  }}
    {{ product.product_color | uppercase  }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <img [src]="product.product_image" height="384px" width="512px" />
  <p>
    Description: {{ product.product_type | uppercase  }} {{ product.product_type_category | uppercase  }} {{ product.product_brand | uppercase  }}
    {{ product.product_color | uppercase  }}</p>
  <p>Price: {{ product.price | currency }}</p>
  <button (click)="addToCart(product)">Buy</button>
</div>
