
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <div formGroupName="product_filter">
    <label for="product_type">Product Type: </label>
    <input id="product_type" type="
    text" formControlName="product_type" />
  
    <label for="product_type_category">Product Type Category: </label>
    <input
      id="product_type_category"
      type="text"
      formControlName="product_type_category"
    />
  </div>
  
  <div formGroupName="product_brand">
    <label for="product_brand">Product Brand: </label>
    <input id="product_brand" type="
    text" formControlName="product_brand" />

    <label for="product_color">Product Color: </label>
    <input id="product_color" type="
    text" formControlName="product_color" />

    <label for="price">Price: </label>
    <input id="price" type="number" formControlName="price" />

    <label for="investment_price">Investment Price: </label>
    <input
      id="investment_price"
      type="number"
      formControlName="investment_price"
    />

    <label for="profit_potential">Profit Potential: </label>
    <input
      id="profit_potential"
      type="number"
      formControlName="profit_potential"
    />
  </div>
  <div>
  <p>Form Status: {{ productForm.status }}</p>
  <p>{{ productForm.value | json }}</p>
  <button type="submit">Submit</button>
  </div>

  <div>
  <button (click)="updateProduct()">Update Product</button>
  </div>
  
</form>
