<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.product_brand + 'details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.product_type }} {{ product.product_type_category }} {{ product.product_brand }}
      {{ product.product_color }}
    </a>
  </h3>

  <img [src]="product.product_image" height="384px" width="512px" />

  <p *ngIf="product.product_type">
    Desc: {{ product.product_type }} {{ product.product_type_category }} {{ product.product_brand }}
    {{ product.product_color }}
  </p>
  <p>{{ product.price | currency }}</p>

  <button (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
